/* 
    Created on : 09-dic-2015, 0:14:20
    Author     : Victor M. Rivas Santos <vrivas@ujaen.es>
*/

body {
    font-family: Arial,Helvetica,Lucida,sans-serif;
    background-color: #aab;
}

h1 {
    color: #446;
}
table {
    margin: 0 auto 0 auto;
    width: 50%;
    background-color: #fff;
    border: 1pt solid black;
}

tr:nth-child(odd) {
background-color: #eee;
}

tr:nth-child(even) {
background-color: #fff;
}
th {
    border: 1pt solid black;
    background-color: #ccc;
}

td {
    border: 1pt solid black;
}
#inicial
, #con_cebolla
, #con_sal
, #doble
,#num_huevos
, #solo_huevos
, #mas_ejemplos{
    margin: 0 auto 1em auto;
    padding: 1em;
    width: 80%;
    background-color: #fff;
    border: 1pt solid black;
    text-align: center;
}
#link {
    text-align: right;
    font-size: 0.8em;
}

pre {
    text-align: left;
    margin: 0 auto 1em auto;
    border: 1px dashed #aaa;
    padding: .5em;
    width: 45%;
    color: #444;
}